<section class="featured spad">
<div class="container">
    <div id="content" class="blog-wrapper blog-single page-wrapper">
    <div class="row align-center">
    <div class="large-10 col">
    <article id="post-3088" class="post-3088 post type-post status-publish format-standard has-post-thumbnail hentry category-tu-van">
    <div class="article-inner ">


    <header class="entry-header">
    <div class="entry-header-text entry-header-text-top text-center">
    <h6 class="entry-category is-xsmall">GIỚI THIỆU </h6>
    <h1 class="entry-title">Sơn Komodo</h1>
    <div class="entry-divider is-divider small"></div>
    <div class="entry-meta uppercase is-xsmall">
    </div><!-- .entry-header --></header><!-- post-header -->
    <div class="entry-content single-page">
    <p style="text-align: justify;"></p><p style="text-align: justify;"><strong>Công ty Cổ phần&nbsp;</strong><strong>Sơn Komodo Việt Nam v</strong>ới chiến lược đầu tư phát triển&nbsp;bền vững phấn đấu trở thành một thương hiệu Việt, thể hiện tầm vóc trí tuệ và niềm tự hào Việt Nam. Trong những năm vừa qua Hãng sơn KOMODO đã cho ra đời những sản phẩm – dịch vụ cao cấp thỏa mãn được nhu cầu của người tiêu dùng và được người tiêu dùng đánh giá cao. Sản phẩm phù hợp với đặc tính thời tiết và nhu cầu sử dụng của người dần. Sơn KOMODO đang dần chiếm lĩnh thị trường với sự tin tưởng của khách hàng. Chân thành cám ơn Quý khách hàng đã đồng hành cùng chúng tôi trong suốt thời gian vừa qua và trong những năm tới. Đó chính là động lực để chúng tôi phát triển hơn nữa về chất lượng sản phẩm cũng như mở rộng thị trường sơn KOMODO. Mang lại giá trị đích thực cho Quý khách hàng, mang lại cuộc sống tươi đẹp và tràn đầy cảm hứng.</p>
    <p style="text-align: justify;">Sơn Komodo được sản xuất trên dây chuyền công nghệ Đức. Là loại sơn thế hệ mới, được nghiên cứu, chế tạo thân thiện với môi trường và người sử dụng. Sơn có mùi dễ chịu nên tạo sự thoải mái trong giá trình thi công cũng như trong thời gian sủ dụng cho ngôi nhà bạn. Sơn không hại sức khỏe, không gây ô nhiễm môi trường và làm cho màu sắc lớp sơn hoàn thiện được bền lâu.</p>
    <table>
    <tbody>
    <tr>
    <td>
    <p><%= link_to image_tag("paint/1.png")%> </p>
    <p style="text-align: center;"><strong>SƠN NGOẠI THẤT</strong></p>
    </td>
    <td>
    <p><%= link_to image_tag("paint/2.png")%></p>
    <p style="text-align: center;"><strong>SƠN NỘI THẤT</strong></p>
    </td>
    </tr>
    </tbody>
    </table>
    <p style="text-align: justify;">Với đội ngũ nhân viên tận tâm, chu đáo, quý khách sẽ được chúng tôi tư vấn và cũng như giúp quý khách chọn lựa những mặt hàng với chất lượng, phù hợp và giá cả thật cạnh tranh. Nhằm mang lại hiệu quả cao trong kinh doanh xây dựng và giảm bớt đáng kể các chi phí phát sinh.</p>
    <p style="text-align: justify;">Với mục tiêu chăm sóc và phục vụ khách hàng chu đáo, chúng tôi đã xây dựng một hệ thống chi nhánh, cửa hàng củng nhiều hệ thống phân phối ở những vị trí địa lý thuận tiện nhằm tạo điều kiện thật tốt trong việc giao dịch của khách hàng và cũng như giảm thiểu nhiều chi phí vận chuyển, giao nhận hàng. Ngoài ra công ty chúng tôi luôn luôn có một đội xe chuyên chở nhằm phục vụ khách hàng khi có yêu cầu giao nhận tận nơi.</p>
    <p style="text-align: justify;">Đến với Công ty chúng tôi, Quý khách sẽ cảm nhận được sự:</p>
    <p style="text-align: justify;">- UY TÍN, CHẤT LƯỢNG, CHU ĐÁO<br> - ĐỘI NGŨ NHÂN VIÊN CHUYÊN NGHIỆP - PHỤC VỤ TẬN TÂM<br> - HÀNG HÓA CHẤT LƯỢNG - GIÁ CẢ HỢP LÝ - CẠNH TRANH<br> - NGUỒN HÀNG DỰ TRỮ LỚN - PHONG PHÚ - ĐA DẠNG</p>
    <p style="text-align: justify;"><em><strong>Mọi chi tiết vui lòng liên hệ chúng tôi:</strong></em></p>
    <p style="text-align: justify;"><strong>CÔNG TY CỔ PHẦN SƠN KOMODO VIỆT NAM</strong></p>
    <p style="text-align: justify;"><strong>Văn phòng GD: Số 32 Hồ Bá Kiện, Phường Quán Bàu, Thành phố Vinh</strong></p>
    <p style="text-align: justify;"><strong>Nhà máy sản xuất: Lô 02 Khu công nghiệp Bát Tràng, Gia Lâm, Hà Nội</strong></p>
    <p style="text-align: justify;"><strong>Điện thoại: 0949.045.333</strong></p>
    <p style="text-align: left;"><strong>Website: http://sonkomodo.com</strong></p>
    <p style="text-align: left;"><em><strong>Trân trọng.</strong></em></p><p></p>
    </div><!-- .article-inner -->
    </div></article><!-- #-3088 -->
        </div> <!-- .large-9 --></div><!-- .row --></div>
  </div>
 </section>